<!DOCTYPE html>
<html>
	<head>
		<title>Slovenske kmetije</title>
		<meta name="description" content="Iskalnik kmetij"/>
		<meta name="keywords" content="kmetija, kmetije, bio izdelki"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<%= stylesheet_link_tag "main.css" %>
		<%= stylesheet_link_tag "leaflet.css" %>
		<%= stylesheet_link_tag "leaflet.label.css" %>
		<%= csrf_meta_tag %>
	</head>
	
	<body>
		<div id="header">
			<h1>SLOVENSKE KMETIJE</h1>
		</div>
		
		<div id="filters">
			<div id="categories">
				<h1>Izdelki</h1>
				<ul id="categories-list">
					<li class="category" id="med">
						<div class="menu">
							<div class="column">
								<h3> MED IN &#268;EBELARSKI IZDELKI </h3>
								<ul class="subcategories">
									<li> med </li>
									<li> medica </li>
									<li> cvetni prah </li>
									<li> propolis </li>
									<li> mati&#269;ni mle&#269;ek </li>
									<li> &#269;ebelji vosek </li>
								</ul>
							</div>
						</div>
						<h2> Med in &#269;ebelarski izdelki </h2>
						<div class="selection">
						</div>
					</li>
					<li class="category" id="mleko">
						<div class="menu">
							<div class="column">
								<h3> MLEKO </h3>
								<ul class="subcategories">
									<li> kravje mleko </li>
									<li> kozje mleko </li>
									<li> ov&#269;je mleko </li>
								</ul>
							</div>
							<div class="column">
								<h3> SIR </h3>
								<ul class="subcategories">
									<li> kravji sir </li>
									<li> kozji sir </li>
									<li> ov&#269;ji sir </li>
									<li> gavda </li>
									<li> tolminc </li>
									<li> mladi sir </li>
								</ul>
							</div>
							<div class="column">
								<h3> OSTALO </h3>
								<ul class="subcategories">
									<li> skuta </li>
									<li> sladka smetana </li>
									<li> kisla smetana </li>
									<li> maslo </li>
									<li> jogurt </li>
								</ul>
							</div>
						</div>
						<h2> Mleko in mle&#269;ni izdelki </h2>
						<div class="selection">
						</div>
					</li>
					<li class="category" id="moka">
						<div class="menu">
							<div class="column">
								<h3> MOKA </h3>
								<ul class="subcategories">
									<li> p&#353;eni&#269;na moka </li>
									<li> ajdova moka </li>
									<li> prosena moka </li>
									<li> koruzna moka </li>
									<li> r&#353;ena moka </li>
									<li> ovsena moka </li>
									<li> je&#269;menova moka </li>
									<li> pirina moka </li>
									<li> tritikala </li>
								</ul>
							</div>
							<div class="column">
								<h3> IZDELKI IZ &#381;IT </h3>
								<ul class="subcategories">
									<li> kruh </li>
									<li> pecivo </li>
									<li> testenine </li>
									<li> ka&#353;e </li>
									<li> otrobi </li>
									<li> zdrob </li>
									<li> kosmi&#269;i </li>
								</ul>
							</div>
						</div>
						<h2> Moka in izdelki iz &#382;it </h2>
						<div class="selection">
						</div>
					</li>
					<li class="category" id="olje">
						<div class="menu">
							<div class="column">
								<h3> OLJE </h3>
								<ul class="subcategories">
									<li> olj&#269;no olje </li>
									<li> son&#269;ni&#269;no olje </li>
									<li> bu&#269;no olje </li>
									<li> ogr&#353;&#269;i&#269;no olje </li>
									<li> laneno olje</li>
									<li> olja z zeli&#353;&#269;i </li>
								</ul>
							</div>
							<div class="column">
								<h3> KISI </h3>
								<ul class="subcategories">
									<li> vinski kis </li>
									<li> jabol&#269;ni kis </li>
									<li> hru&#353;kov kis </li>
									<li> bezgov kis </li>
									<li> zeli&#353;&#269;ni kis </li>
								</ul>
							</div>
						</div>
						<h2> Olja in kisi </h2>
						<div class="selection">
						</div>
					</li>
					<li class="category" id="ozimnica">
						<div class="menu">
							<div class="column">
								<h3> OZIMNICA </h3>
								<ul class="subcategories">
									<li> marmelade </li>
									<li> vlo&#382;ena zelenjava </li>
									<li> vlo&#382;ene oljke </li>
									<li> kislo zelje </li>
									<li> kisla repa </li>
								</ul>
							</div>
							<div class="column">
								 <h3> SOKOVI </h3>
								 <ul class="subcategories">
									<li> jabolèni sok </li>
									<li> hru&#353;kov sok </li>
									<li> grozdni sok </li>
									<li> bezgov sok </li>
									<li> sadni mo&#353;t </li>
									<li> kompoti </li>
									<li> sirupi </li>
								</ul>
							</div>
						</div>
						<h2> Ozimnica in sokovi </h2>
						<div class="selection">
						</div>
					</li>
					<li class="category" id="sadje">
						<div class="menu">
							<div class="column">
								<h3> PE&#268;KASTO SADJE </h3>
								<ul class="subcategories">
									<li> jabolka </li>
									<li> hruke </li>
									<li> kaki </li>
									<li> kutine </li>
									<li> neplje </li>
									<li> lubenice </li>
									<li> melone </li>
									<li> fige (smokve) </li>
									<li> agrumi </li>
								</ul>
							</div>
							<div class="column">
								<h3> KO&#352;&#268;I&#268;ASTO SADJE </h3>
								<ul class="subcategories">
									<li> &#269;e&#353;nje </li>
									<li> breskve </li>
									<li> marelice </li>
									<li> slive </li>
									<li> vi&#353;nje </li>
									<li> nektarine </li>
									<li> granatna jabolka </li>
									<li> drnjule </li>
									<li> &#382;i&#382;ule </li>
								</ul>
							</div>
							<div class="column">
								<h3> JAGODI&#268;ASTO SADJE </h3>
								<ul class="subcategories">
									<li> jagode </li>
									<li> borovnice </li>
									<li> grozdje </li>
									<li> maline </li>
									<li> ribez </li>
									<li> robide </li>
									<li> brusnice </li>
									<li> kosmulje </li>
								</ul>
							</div>
							<div class="column">
								<h3> ORE&#352;&#268;KI IN SUHO SADJE </h3>
								<ul class="subcategories">
									<li> orehi </li>
									<li> le&#353;niki </li>
									<li> mandlji </li>
									<li> suho sadje </li>
									<li> krhlji </li>
								</ul>
							</div>
						</div>
						<h2> Sadje in ore&#353;&#269;ki </h2>
						<div class="selection">
						</div>
					</li>
					<li class="category" id="semena">
						<div class="menu">
							<div class="column">
								<h3> SEMENA IN SADIKE </h3>
								<ul class="subcategories">
									<li> semena polj&#353;&#269;in </li>
									<li> semena zelenjave </li>
									<li> sadike sadnega drevja </li>
									<li> sadike zelenjave </li>
								</ul>
							</div>
						</div>
						<h2> Semena in sadike </h2>
						<div class="selection">
						</div>
					</li>
					<li class="category" id="vino">
						<div class="menu">
							<div class="column">
								<h3> RDE&#268;A VINA </h3>
								<ul class="subcategories">
									<li> refo&#353;k </li>
									<li> merlot </li>
									<li> &#382;ametna &#269;rnina </li>
									<li> modra frankinja </li>
									<li> cabernet sauvignon </li>
									<li> kraljevina </li>
									<li> teran </li>
								</ul>
							</div>
							<div class="column">
								<h3> BELA VINA </h3>
								<ul class="subcategories">
									<li> la&#353;ki rizling </li>
									<li> chardonnay </li>
									<li> sauvignon </li>
									<li> rebula </li>
									<li> &#353;ipon </li>
									<li> malvazija </li>
									<li> renski rizling </li>
									<li> beli pinot </li>
									<li> sivi pinot </li>
									<li> traminec </li>
									<li> rizvanec </li>
									<li> rumeni mu&#353;kat </li>
								</ul>
							</div>
						</div>
						<h2> Vino </h2>
						<div class="selection">
						</div>
					</li>
					<li class="category" id="zacimbe">
						<div class="menu">
							<div class="column">
								<h3> ZA&#268;IMBE, ZELI&#352;&#268;A IN &#268;AJI </h3>
								<ul class="subcategories">
									<li> za&#269;imbe </li>
									<li> zeli&#353;&#269;a </li>
									<li> zdravilna zeli&#353;&#269;a </li>
									<li> &#269;aji </li>
								</ul>
							</div>
						</div>
						<h2> Za&#269;imbe, zeli&#353;&#269;a in &#269;aji </h2>
						<div class="selection">
						</div>
					</li>
					<li class="category" id="zelenjava">
						<div class="menu">
							<div class="column">
								<h3> LISTNATA ZELENJAVA </h3>
								<ul class="subcategories">
									<li> solata </li>
									<li> endivija </li>
									<li> radi&#269; </li>
									<li> motovilec </li>
									<li> regrat </li>
									<li> rukola </li>
									<li> &#353;pina&#269;a </li>
									<li> blitva </li>
								</ul>
							</div>
							<div class="column">
								<h3> GOMOLJNICE IN KORENOVKE </h3>
								<ul class="subcategories">
									<li> krompir </li>
									<li> koren&#269;ek </li>
									<li> peter&#353;ilj </li>
									<li> pastinak </li>
									<li> zelena </li>
									<li> rde&#269;a pesa </li>
									<li> koleraba </li>
									<li> repa </li>
									<li> redkev </li>
								</ul>
							</div>
							<div class="column">
								<h3> PLODOVKE </h3>
								<ul class="subcategories">
									<li> paradi&#353;nik </li>
									<li> paprika </li>
									<li> feferoni </li>
									<li> jaj&#269;evci </li>
									<li> kumare </li>
									<li> bu&#269;ke </li>
									<li> bu&#269;e </li>
								</ul>
							</div>
							<div class="column">
								<h3> STRO&#268;NICE </h3>
								<ul class="subcategories">
									<li> fi&#382;ol </li>
									<li> stro&#269;ji fi&#382;ol </li>
									<li> grah </li>
									<li> bob </li>
									<li> okra </li>
									<li> le&#269;a </li>
									<li> &#269;i&#269;erika </li>
									<li> soja </li>
								</ul>
							</div>
							<div class="column">
								<h3> &#268;EBULNICE </h3>
								<ul class="subcategories">
									<li> &#269;ebula </li>
									<li> &#269;esen </li>
									<li> por </li>
									<li> drobnjak </li>
									<li> &#353;alotka </li>
									<li> koroma&#269; (komar&#269;ek)</li>
								</ul>
							</div>
							<div class="column">
								<h3> KAPUSNICE </h3>
								<ul class="subcategories">
									<li> cveta&#269;a </li>
									<li> brokoli </li>
									<li> zelje </li>
									<li> ohrovt </li>
									<li> brsti&#269;ni ohrovt </li>
								</ul>
							</div>
							<div class="column">
								<h3> OSTALO </h3>
								<ul class="subcategories">
									<li> sladka koruza </li>
									<li> parglji </li>
									<li> topinambur </li>
								</ul>
							</div>
						</div>
						<h2> Zelenjava </h2>
						<div class="selection">
						</div>
					</li>
					<li class="category" id="zganje">
						<div class="menu">
							<div class="column">
								<h3> &#381;GANE PIJA&#268;E IN LIKERJI </h3>
								<ul class="subcategories">
									<li> &#382;ganje </li>
									<li> sadjevec </li>
									<li> slivovka </li>
									<li> drnjulevec </li>
									<li> hru&#353;kovo &#382;ganje </li>
									<li> zeli&#353;&#269;ne grenèice </li>
									<li> likerji </li>
								</ul>
							</div>
						</div>
						<h2> &#381;gane pija&#269;e in likerji </h2>
						<div class="selection">
						</div>
					</li>
					<li class="category" id="meso">
						<div class="menu">
							<div class="column">
								<h3> MESO </h3>
								<ul class="subcategories">
									<li> govedina </li>
									<li> teletina </li>
									<li> svinjina </li>
									<li> perutnina </li>
									<li> jagnjetina </li>
									<li> kozje meso </li>
									<li> konjsko meso </li>
									<li> kun&#269;je meso </li>
									<li> divja&#269;ina </li>
								</ul>
							</div>
							<div class="column">
								<h3> MESNI IZDELKI </h3>
								<ul class="subcategories">
									<li> suhomesni izdelki </li>
									<li> prekajeno meso </li>
									<li> pa&#353;tete </li>
								</ul>
							</div>
							<div class="column">
								<h3> OSTALO </h3>
								<ul class="subcategories">
									<li> ribe </li>
									<li> jajca </li>
									<li> volna </li>
								</ul>
							</div>
						</div>
						<h2> &#381;ivalski izdelki </h2>
						<div class="selection">
						</div>
					</li>
					<li class="category" id="ostalo">
						<div class="menu">
							<div class="column">
								<h3> OSTALO </h3>
								<ul class="subcategories">
									<li> sojin tofu </li>
									<li> sojino mleko </li>
									<li> &#382;itna kava </li>
									<li> brinova lojtrica </li>
									<li> malinovo desertno vino </li>
									<li> humus </li>
									<li> belokranjska poga&#269;a </li>
									<li> &#269;ema&#382;ev pesto </li>
								</ul>
							</div>
						</div>
						<h2> Ostalo </h2>
						<div class="selection">
						</div>
					</li>
					<li class="category" id="certifikati">
						<div class="menu">
							<div class="column">
								<h3> CERTIFIKATI </h3>
								<ul class="subcategories">
									<li> Biodar </li>
									<li> Demeter </li>
									<li> Integrirana pridelava </li>
								</ul>
							</div>
						</div>
						<h2> Certifikati </h2>
						<div class="selection">
						</div>
					</li>
					<h2 id="clearSelection"> Po&#269;isti izbiro </h2>
				</ul>
			</div>
		</div>

		<div id="map"></div>
		
		<div id="navigation">
			<ul id="nav">
				<li><%= link_to "Domov", home_path(@home) %></li>				
				<li><%= link_to "Info", info_path(@info) %></li>
				<li><%= link_to "Vpis", signin_path(@signin) %></li>
			</ul>
		</div>
		
		<%= debug(params) if Rails.env.development? %>
		<%= javascript_include_tag "jquery-1.11.2.min.js" %>
		<%= javascript_include_tag "leaflet.js" %>
		<%= javascript_include_tag "leaflet.label.js" %>
		<%= javascript_include_tag "script.js" %>
	</body>
</html>
